@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 5.5rem;
  font-family: 'Nunito', seif;
}

h1, h2, h3, h4, h5, h6, select {
  font-family: 'Barlow Condensed', sans-serif;
}

h2, h3, h4, h5, h6, p, ul {
  margin-top: 0.5rem;
}

ul {
  list-style: disc;
  margin: 1rem 2rem;
}

main a {
  color: #0066cc;
  font-weight: bold;
}

main h2 {
  margin-bottom: 1rem;
}

[class$="-section"] {
  margin: 40px 0;
}

footer a {
  color: #dddddd;
}

footer a:hover {  
  text-decoration: underline;
}