@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 5.5rem;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0.5rem;
}

ul {
  list-style: disc;
  margin: 1rem 2rem;
}

main a {
  color: #0066cc;
  font-weight: bold;
}

main h2 {
  margin-bottom: 2rem;
}